:root {
    --white: #ffffff;
    --grey: #e5e5e5;
    --orange: #fca311;
    --dark-blue: #14213d;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    height: 615px;
    background: linear-gradient(180deg, rgba(20, 33, 61, 1) 38%, rgba(229, 229, 229, 1) 100%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 50px auto;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    background-color: var(--white);
}

button {
    padding: 10px 20px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
}

button:hover {
    background-color: #e69500;
}

p {
    color: var(--orange);
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.container {
    background: rgb(20, 33, 61);
    background: linear-gradient(180deg, rgba(20, 33, 61, 1) 38%, rgba(229, 229, 229, 1) 100%);
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: var(--dark-blue);
    padding: 10px;
    font-weight: bold;
    color: var(--grey);
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
